@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.mainback {
  background-image: url("../loginpic.jpg");
  background-position: center;
  background-size: cover;
  min-height: 93vh;
  display: flex;
  padding: 10px 0;
}
.page {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
}
